{
  "openapi": "3.0.0",
  "info": {
    "title": "Skillama API",
    "description": "AI Code Generation Server with Anthropic Claude 3",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://skillama.loca.lt"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealthCheck",
        "summary": "Health Check",
        "responses": {
          "200": {
            "description": "Server status"
          }
        }
      }
    },
    "/api/generate-code": {
      "post": {
        "operationId": "generateCode",
        "summary": "Generate Code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectName",
                  "prompt",
                  "filename"
                ],
                "properties": {
                  "projectName": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated code"
          }
        }
      }
    },
    "/api/list-files": {
      "post": {
        "operationId": "getFileContents",
        "summary": "Show File Contents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectName"
                ],
                "properties": {
                  "projectName": {
                    "type": "string"
                  }              
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File contents"
          }
        }
      }
    },
    "/api/show-file": {
      "post": {
        "operationId": "getFileContents",
        "summary": "Show File Contents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectName",
                  "filename"
                ],
                "properties": {
                  "projectName": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File contents"
          }
        }
      }
    },
    "/api/git-sync": {
      "post": {
        "operationId": "syncGitChanges",
        "summary": "Git Sync - Create branch commit and push",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectName",
                  "message"
                ],
                "properties": {
                  "projectName": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully synced changes"
          }
        }
      }
    }
  }
}